header.header
    div.header__logo
        h1.header__logo-title CyberTavern
        p.header__logo-text Гудвайбсы и гайды по играм
    div.header__color
        button.header__color-light.button.menu-button Светлая
            span.menu-button__glitch(aria-hidden='') Светлая
            span.menu-button__tag(aria-hidden='') R25
        button.header__color-auto.button.menu-button Авто
            span.menu-button__glitch(aria-hidden='') Авто
            span.menu-button__tag(aria-hidden='') R25
        button.header__color-dark.button.menu-button Темная
            span.menu-button__glitch(aria-hidden='') Темная
            span.menu-button__tag(aria-hidden='') R25