/*!********************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/index.scss ***!
  \********************************************************************************************************************************************************/
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

button {
  cursor: pointer;
  /*background: transparent;
  border: none; */
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.header {
  min-height: 100px;
  min-width: inherit;
  max-width: inherit;
  width: 100%;
  padding: 20px 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url(/gameguides/images/XTKTGO.c267795e0c8406278dab.png) no-repeat center;
  background-size: cover;
  z-index: 1000;
  position: sticky;
  top: 0;
}
.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 40px;
  gap: 10px;
}
.header__logo-title {
  font-family: LYAJKA, Arial, sans-serif;
  font-size: 90px;
}
.header__logo-text {
  font-weight: 600;
  text-transform: uppercase;
}
.header__color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

main {
  background: black;
  min-width: inherit;
  max-width: inherit;
  height: 1000px;
  z-index: 999;
}

.page {
  font-family: Blender, Arial, sans-serif;
  color: #d5d5d5;
  background: #060c14;
  margin: 0 auto;
  min-width: 720px;
  max-width: 1600px;
}

.menu-button {
  --primary: #60d5ed;
  --shadow-primary: black;
  --primary-hue: 0;
  --primary-lightness: 50;
  --color: black;
  --font-size: 24px;
  --shadow-primary-hue: 180;
  --label-size: 9px;
  --shadow-secondary-hue: 60;
  --shadow-secondary: hsl(var(--shadow-secondary-hue), 90%, 60%);
  --clip: polygon(0 0, 100% 0, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 70%);
  --border: 4px;
  --shimmy-distance: 5;
  --clip-one: polygon(0 2%, 100% 2%, 100% 95%, 95% 95%, 95% 90%, 85% 90%, 85% 95%, 8% 95%, 0 70%);
  --clip-two: polygon(0 78%, 100% 78%, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 78%);
  --clip-three: polygon(0 44%, 100% 44%, 100% 54%, 95% 54%, 95% 54%, 85% 54%, 85% 54%, 8% 54%, 0 54%);
  --clip-four: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
  --clip-five: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
  --clip-six: polygon(0 40%, 100% 40%, 100% 85%, 95% 85%, 95% 85%, 85% 85%, 85% 85%, 8% 85%, 0 70%);
  --clip-seven: polygon(0 63%, 100% 63%, 100% 80%, 95% 80%, 95% 80%, 85% 80%, 85% 80%, 8% 80%, 0 70%);
  font-family: Disket, sans-serif;
  color: black;
  color: var(--color);
  background: transparent;
  text-transform: uppercase;
  font-size: 24px;
  font-size: var(--font-size);
  outline: transparent;
  letter-spacing: 2px;
  position: relative;
  font-weight: 700;
  border: 0;
  width: 300px;
  height: 75px;
  line-height: 55px;
  z-index: 1;
}

.menu-button:after,
.menu-button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  clip-path: var(--clip);
  z-index: -1;
}

.menu-button:before {
  background: var(--shadow-primary);
  -webkit-transform: translate(var(--border), 0);
          transform: translate(var(--border), 0);
}

.menu-button:after {
  background: var(--primary);
}

.menu-button__tag {
  position: absolute;
  padding: 1px 4px;
  letter-spacing: 1px;
  line-height: 1;
  bottom: -5%;
  right: 5%;
  color: black;
  font-size: var(--label-size);
}

.menu-button__glitch {
  position: absolute;
  top: calc(var(--border) * -1);
  left: calc(var(--border) * -1);
  right: calc(var(--border) * -1);
  bottom: calc(var(--border) * -1);
  background: var(--shadow-primary);
  text-shadow: 2px 2px var(--shadow-primary), -2px -2px var(--shadow-secondary);
  clip-path: var(--clip);
  -webkit-animation: glitch 2s infinite;
          animation: glitch 2s infinite;
  display: none;
}

.menu-button:hover .menu-button__glitch {
  display: block;
}

.menu-button__glitch:before {
  content: "";
  position: absolute;
  top: calc(var(--border) * 1);
  right: calc(var(--border) * 1);
  bottom: calc(var(--border) * 1);
  left: calc(var(--border) * 1);
  clip-path: var(--clip);
  background: var(--primary);
  z-index: -1;
}

@-webkit-keyframes glitch {
  0% {
    clip-path: var(--clip-one);
  }
  2%, 8% {
    clip-path: var(--clip-two);
    -webkit-transform: translate(calc(var(--shimmy-distance) * -1%), 0);
            transform: translate(calc(var(--shimmy-distance) * -1%), 0);
  }
  6% {
    clip-path: var(--clip-two);
    -webkit-transform: translate(calc(var(--shimmy-distance) * 1%), 0);
            transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  9% {
    clip-path: var(--clip-two);
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  10% {
    clip-path: var(--clip-three);
    -webkit-transform: translate(calc(var(--shimmy-distance) * 1%), 0);
            transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  13% {
    clip-path: var(--clip-three);
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  14%, 21% {
    clip-path: var(--clip-four);
    -webkit-transform: translate(calc(var(--shimmy-distance) * 1%), 0);
            transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  25% {
    clip-path: var(--clip-five);
    -webkit-transform: translate(calc(var(--shimmy-distance) * 1%), 0);
            transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  30% {
    clip-path: var(--clip-five);
    -webkit-transform: translate(calc(var(--shimmy-distance) * -1%), 0);
            transform: translate(calc(var(--shimmy-distance) * -1%), 0);
  }
  35%, 45% {
    clip-path: var(--clip-six);
    -webkit-transform: translate(calc(var(--shimmy-distance) * -1%), 0);
            transform: translate(calc(var(--shimmy-distance) * -1%), 0);
  }
  40% {
    clip-path: var(--clip-six);
    -webkit-transform: translate(calc(var(--shimmy-distance) * -1%), 0);
            transform: translate(calc(var(--shimmy-distance) * -1%), 0);
  }
  50% {
    clip-path: var(--clip-six);
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  55% {
    clip-path: var(--clip-seven);
    -webkit-transform: translate(calc(var(--shimmy-distance) * 1%), 0);
            transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  60% {
    clip-path: var(--clip-seven);
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  31%, 61%, 100% {
    clip-path: var(--clip-four);
  }
}

@keyframes glitch {
  0% {
    clip-path: var(--clip-one);
  }
  2%, 8% {
    clip-path: var(--clip-two);
    -webkit-transform: translate(calc(var(--shimmy-distance) * -1%), 0);
            transform: translate(calc(var(--shimmy-distance) * -1%), 0);
  }
  6% {
    clip-path: var(--clip-two);
    -webkit-transform: translate(calc(var(--shimmy-distance) * 1%), 0);
            transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  9% {
    clip-path: var(--clip-two);
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  10% {
    clip-path: var(--clip-three);
    -webkit-transform: translate(calc(var(--shimmy-distance) * 1%), 0);
            transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  13% {
    clip-path: var(--clip-three);
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  14%, 21% {
    clip-path: var(--clip-four);
    -webkit-transform: translate(calc(var(--shimmy-distance) * 1%), 0);
            transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  25% {
    clip-path: var(--clip-five);
    -webkit-transform: translate(calc(var(--shimmy-distance) * 1%), 0);
            transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  30% {
    clip-path: var(--clip-five);
    -webkit-transform: translate(calc(var(--shimmy-distance) * -1%), 0);
            transform: translate(calc(var(--shimmy-distance) * -1%), 0);
  }
  35%, 45% {
    clip-path: var(--clip-six);
    -webkit-transform: translate(calc(var(--shimmy-distance) * -1%), 0);
            transform: translate(calc(var(--shimmy-distance) * -1%), 0);
  }
  40% {
    clip-path: var(--clip-six);
    -webkit-transform: translate(calc(var(--shimmy-distance) * -1%), 0);
            transform: translate(calc(var(--shimmy-distance) * -1%), 0);
  }
  50% {
    clip-path: var(--clip-six);
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  55% {
    clip-path: var(--clip-seven);
    -webkit-transform: translate(calc(var(--shimmy-distance) * 1%), 0);
            transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  60% {
    clip-path: var(--clip-seven);
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  31%, 61%, 100% {
    clip-path: var(--clip-four);
  }
}
/*!*********************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/fonts/fonts.scss ***!
  \*********************************************************************************************************************************************************/
@font-face {
  font-family: Blender;
  font-style: normal;
  font-weight: 400;
  src: url(/gameguides/fonts/BlenderPro-Medium.2e8418291f661fd81f6f.woff2) format("woff2");
}
@font-face {
  font-family: LYAJKA;
  font-style: normal;
  font-weight: 400;
  src: url(/gameguides/fonts/Cyberpunk_RUS_BY_LYAJKA.4b5fd400e07daaf77a9b.ttf) format("truetype");
}
@font-face {
  font-family: Disket;
  font-style: normal;
  font-weight: 400;
  src: url(/gameguides/fonts/Disket-Mono-Regular.7377dd2a75631272ed00.ttf) format("truetype");
}
