doctype html
html(lang='ru')
    include includes/head
    body.page
        include includes/header
        include includes/navigation
        main.gallery
            div.gallery__container
        footer