doctype html
html(lang='ru')
    include includes/head
    body.page
        include includes/header
        include includes/navigation
        main.container
            template#playlists-card-template
                button.playlists-card.button
                    div.playlists-card-image
                    h3.playlists-card-title
        footer