@use '../scss/variables' as *;
@use '../scss/animations' as *;

.menu-button {
  font-family: Disket, Arial, sans-serif;
  color: black;
  text-transform: uppercase;
  font-size: 24px;
  position: relative;
  font-weight: 700;
  border: 0;
  width: 250px;
  height: 75px;
  line-height: 55px;
  z-index: 1;

  &__tag {
    position: absolute;
    padding: 2px 1px;
    letter-spacing: 1px;
    line-height: 1;
    bottom: -5%;
    right: 5%;
    color: black;
    font-size: 7px;
  }

  &__glitch {
    position: absolute;
    top: calc($border * -1);
    left: calc($border * -1);
    right: calc($border * -1);
    bottom: calc($border * -1);
    background: $shadow-primary;
    text-shadow: 2px 2px $shadow-primary, -2px -2px $shadow-secondary;
    clip-path: $clip;
    animation: glitch 2s infinite;
    display: none;
  }
}

.menu-button:active {
  top: calc($border * 1);
  left: calc($border * 1);
  right: calc($border * 1);
  bottom: calc($border * 1);
}

.menu-button:after,
.menu-button:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  clip-path: $clip;
  z-index: -1;
}

.menu-button:before {
  background: $shadow-primary;
  transform: translate($border, 0);
}

.menu-button:after {
  background: $primary;
}

.menu-button:hover .menu-button__glitch {
  display: block;
}

.menu-button__glitch:before {
  content: '';
  position: absolute;
  top: calc($border * 1);
  right: calc($border * 1);
  bottom: calc($border * 1);
  left: calc($border * 1);
  clip-path: $clip;
  background: $primary;
  z-index: -1;
}

.navigation__button {
  text-transform: uppercase;
  border-left: solid 1px white;
  border-right: solid 1px white;
  min-height: inherit;
  min-width: 150px;
}

.navigation__button:active {
  border-left: solid 3px lightgray;
  border-right: solid 3px lightgray;
}

@media (width <= 1080px) {
  .menu-button {
    width: 200px;

    &__tag {
      font-size: 6px;
      padding: 4px 1px;
    }
  }
}

@media (width <= 680px) {
  .menu-button {
    width: 150px;
    height: 55px;

    &__tag {
      display: none;
    }
  }

  .navigation__button {
    font-size: 18px;
    min-width: 130px;
  }
}

@media (width <= 520px) {
  .menu-button {
    width: 110px;
    height: 50px;
    font-size: 18px;
  }

  .navigation__button {
    font-size: 16px;
    min-width: 110px;
  }
}