.header {
  min-height: 100px;
  min-width: inherit;
  max-width: inherit;
  width: 100%;
  padding: 30px 2.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: url("../images/XTKTGO.png") no-repeat center;
  background-size: cover;
  z-index: 1000;

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__logo {
    display: flex;
    flex-direction: column;
    color: black;
    align-items: center;
    font-size: 40px;
    gap: 10px;
  }

  &__logo-title {
    font-family: LYAJKA, Arial, sans-serif;
    font-size: 90px;
  }

  &__logo-text {
    font-weight: 600;
    text-transform: uppercase;
  }

  &__color {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}