.navigation {
  min-width: inherit;
  width: 100%;
  background: black;
  border: solid 1px white;
  border-left: transparent;
  min-height: 60px;
  top: 0;
  font-size: 20px;
  position: sticky;
  z-index: 1000;
}

@media (width <= 680px) {
  .navigation {
    min-height: 50px;
  }
}

@media (width <= 520px) {
  .navigation {
    min-height: 44px;
  }
}