.page {
  font-family: Blender, Arial, sans-serif;
  color: #d5d5d5;
  background: linear-gradient(135deg, #23272a, #0c0f12);
  background-size: 10px 10px;
  background-color: #060c14;
  margin: 0 auto;
  min-width: 720px;
  max-width: 1600px;
}