doctype html
html(lang='ru')
    head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='color-scheme' content='light dark')
    title CyberTavern
    link(rel='icon' href=require('./images/icon.svg'))
    link(rel='icon' href='./src/images/favicon.ico')
    link(rel='icon' href=require('./images/icon.png'))
    body.page
        header.header
            button.header__buttons-home.button.menu-button На главную
                span.menu-button__glitch(aria-hidden='') На главную
                span.menu-button__tag(aria-hidden='') R25
            div.header__logo
                h1.header__logo-title CyberTavern
                a.header__logo-text Гайды по играм
            div.header__color
                button.header__color-light.button.menu-button Светлая
                    span.menu-button__glitch(aria-hidden='') Светлая
                    span.menu-button__tag(aria-hidden='') R25
                button.header__color-auto.button.menu-button Авто
                    span.menu-button__glitch(aria-hidden='') Авто
                    span.menu-button__tag(aria-hidden='') R25
                button.header__color-dark.button.menu-button Темная
                    span.menu-button__glitch(aria-hidden='') Темная
                    span.menu-button__tag(aria-hidden='') R25
        nav.navigation
            button.navigation__button.button На главную
            button.navigation__button.button Гудвайбсы
        main.gallery
            div.gallery__container
        footer