@use 'variables' as *;

@keyframes glitch {
  0% {
    clip-path: $clip-one;
  }
  2%, 8% {
    clip-path: $clip-two;
    transform: translate(calc($shimmy-distance * -1%), 0);
  }
  6% {
    clip-path: $clip-two;
    transform: translate(calc($shimmy-distance * 1%), 0);
  }
  9% {
    clip-path: $clip-two;
    transform: translate(0, 0);
  }
  10% {
    clip-path: $clip-three;
    transform: translate(calc($shimmy-distance * 1%), 0);
  }
  13% {
    clip-path: $clip-three;
    transform: translate(0, 0);
  }
  14%, 21% {
    clip-path: $clip-four;
    transform: translate(calc($shimmy-distance * 1%), 0);
  }
  25% {
    clip-path: $clip-five;
    transform: translate(calc($shimmy-distance * 1%), 0);
  }
  /*
  30% {
    clip-path: $clip-five;
    transform: translate(calc($shimmy-distance * -1%), 0);
  }
  35%, 45% {
    clip-path: $clip-six;
    transform: translate(calc($shimmy-distance * -1%), 0);
  }
  40% {
    clip-path: $clip-six;
    transform: translate(calc($shimmy-distance * -1%), 0);
  }
  50% {
    clip-path: $clip-six;
    transform: translate(0, 0);
  }
  55% {
    clip-path: $clip-seven;
    transform: translate(calc($shimmy-distance * 1%), 0);
  }
  60% {
    clip-path: $clip-seven;
    transform: translate(0, 0);
  } */
  31%, 61%, 100% {
    clip-path: $clip-four;
  }
}